/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */




p {
  border-style: solid;
  border-color:  #e6ccb3;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2;
  text-align: center;
}

h1{
  font-size: 70px;
  text-align: left;
}
head{

}
h2{
  font-size: 40px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 2;
}
li{
  list-style-position: inside;
  color: black;
}
h3{
  font-size: 30px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 2;
}
html{
  font-size: 16px;
  font-family: 'Source Sans Pro': sans-serif;
}
img{
  display:block;
  margin: 0;
}
#myName{
  border-style: solid;
  border-color:  #bf8040;
  color:  #804000;
  text-align: left;
}
body{
  background-color:  #dfbf9f;
}
#HP1{
  text-align: left;
  color:  #bfbfbf;
  border-style: solid;
  border-color: #804000;
}
#links{
  border-style:solid;
  border-color:  #804000;
  text-align: left;
  background-color: #ffcc99;
}
#contactInfo{
  text-align: center;
  color: #fff2e6;
  border-style: double;
  border-color: #804000;
}
#sources{
  background-color:  #994d00;
  border-style: solid;
  border-color: #804000;
  color: white;
}
